{% extends 'base.html.twig' %}

{% block title %}Ссылка для восстановления отправлена на email{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

                <p>
                    На ваш email отправлена ссылка для восстановления пароля.
                    Ссылка будет активна {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
                    .
                </p>
                <p>Если вы не получили письмо - проверьте папку спам или <a href="{{ path('app_forgot_password_request') }}">побробуйте ещё раз </a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
