{% extends "emails/base.html.twig" %}

{% block title %}
    Смена пароля
{% endblock %}

{% block content %}
    <div class="content">
        <table>
            <tr>
                <td>
                    {% block titles %}
                        <h1>Привет {{ email.toName }}!</h1>

                        <p>Для смены пароля перейдите по ссылке</p>

                        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

                        <p>Ссылка действительна {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

                        <p>Успеха!</p>

                    {% endblock %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
